

@page "/cafe"
@page  "/index/infochoice/cafe"

    <h3>Cafe list for ..</h3>

    <div class="cafe">

        <table class="cafeTable">
            <thead>
                <tr>
                    <th>Cafe type</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Average Price</th>
                    <th>Rate</th>
                </tr>
            </thead>
            <tbody>

                {
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                }
            </tbody>
        </table>
    </div>