@page "/"
@inject LocationInformationService locationInformationService
@inject CityResultService cityResultService
@using TravelPlanner.Data


<div class="hello">
    <h1>Welcome to Travel Planner App</h1>
    <p>
        <h3>Please enter the desired  travel destination</h3>
    </p>
</div>

<div class="locationInput">
    <input id="locationName" type="text" @bind="citySearch">
    <button type="submit" @onclick="SearchLocation"> Search </button>
</div>
<br />

<div class="locationsList">
    @foreach(var cityresult in CityResults){
    <ul>
        <li>
            <a href="/infochoice/@cityresult.ID" > @cityresult</a>   
        </li>
    </ul>
    }
</div>