@page "/"
@inject LocationInformationService locationInformationService
@inject CityResultService cityResultService
@using TravelPlanner.Data


<div class="hello">
    <h1>Welcome to Travel Planner App</h1>
    <p>
        <h3>Please enter the desired travel destination</h3>
    </p>
</div>

<div class="locationInput">
    <input id="locationName" type="text" @bind="citySearch">
    <button type="submit" @onclick="SearchLocation"> Search </button>
</div>
<br />

<div class="locationsList">
    <!-- If the list is empty, display some kind of "no results found"-->

    @if (CityResults.Count() > 0)
    {
        foreach (var cityResult in CityResults)
        {
            <ul>
                <li>
                    <a href="/infochoice/@cityResult.ID"> @cityResult</a>
                </li>
            </ul>
        }
    }
    else
    {
        <h4>@emptyResults</h4>
    }

</div>