@page "/index/infochoice"

<h3>
</h3>

<div class="infochoice">
    <p>
        <a href="/index/infochoice/weather">Weather</a>
    </p>
</div>


<div class="infochoice">
    <p>
        <a href="/index/infochoice/cafe">Cafe List</a>
    </p>
</div>

@code {


}
