@page "/infochoice/{LocationID:int}"
@inject Data.LocationInformationService locationInformationService
@inject Data.WeatherResultService weatherResultServise

<h3> </h3>


<div>
    <Weather LocationInformation="@_locationData"/>
</div>



<div>
    <Cafes LocationInformation="@_locationData"/>   
</div>

@code {
    [Parameter]
    public int LocationID { get; set; } = 0;

    private Data.LocationInformation _locationData;

    protected override void OnInitialized()
    {
        _locationData = locationInformationService.GetByID(LocationID);

    }

}
