@page "/weather"

<h3>Weather for ...</h3>


<div class="weather">
    <table class="weatherTable">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temperature Day</th>
                <th>Temperature Night</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
           
            {
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
</div>