@page "/weather"
@page  "/index/infochoice/weather"
<!-- TravelPlanner.Data.LocationInformation locationInformation -->

<h3>Weather forcast</h3>


<div class="weather">
    <table class="weatherTable">
        <thead>
            <tr>
                <th>Summary</th>
                <th>Date</th>
                <th>Temperature Day</th>
                <th>Temperature Night</th>
            </tr>
        </thead>
        <tbody>

            
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            
        </tbody>
    </table>
</div>