@page "/weather"
@page  "/index/infochoice/weather"
@inject Data.LocationInformation locationInfo

<h3>Weather forcast</h3>


<div class="weather">
    <table class="weatherTable">
        <thead>
            <tr>
                <th>Summary</th>
                <th>Date</th>
                <th>Temperature Day</th>
                <th>Temperature Night</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var weather in locationInfo.WeatherResult)
            {
                <tr>
                    <td>@weather.HeadlineText</td>
                    <td>@weather.Date</td>
                    <td>@weather.TempDay</td>
                    <td>@weather.TempNight</td>
                </tr>
            }

        </tbody>
    </table>
</div>